* {
    text-decoration: none;
    font-family: calibri;
}

body {
    margin: 0;
    padding-top: 80px;
    background-color: #e7e7e7;
    min-height: 100%;
    background-color: #e7e7e7;
    background-image: url(./img/fundoIndex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bodyHome {
    padding-top: 180px;
    padding-bottom: 80px;
    margin: 0;
    display:flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #e7e7e7;
    background-image: url(./img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.menu {
    background-color:#232363;
    justify-content: space-around;
    align-items: center;
    height: 95px;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
}

.menuHome {
    background-color:#232363;
    justify-content: space-between;
    padding-left: 23px;
    align-items: center;
    height: 95px;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
}

.menuHome ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 550px;
    }

    .menuHome ul li {
    display: flex;
    margin: 35px 15px;
    align-items: center;
    display: inline-block;
    list-style: none;
    }

    .menuHome ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.blocoMenuLogo {
    display: flex;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 200px;
}

.menuLogo {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    border-style: solid;
    border-color: transparent;
}

.blocoMenuLogo h1 {
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    margin-left: 10px;
}

.menu ul {
    display: flex;
    text-align: center;
    align-items: center;
}

.menu ul li {
    font-weight: bold;
    font-size: 18px;
    margin: 35px 15px;
    align-items: center;
    display: inline-block;
    list-style: none;
}

.menu ul li a {
    color: #ffffff;
    padding: 10px 15px;
    border: solid 1px transparent;
}

/* hover = quando o mouse estiver em cima */
.menu ul li a:hover  {
    background-color: #ffffff;
    color: #232363;
    transition: ease 0.8s;
    border-radius: 60px;
    border: solid 1px #ffffff;
    padding: 10px 15px;
}

.containerHome {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.blocoImg {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.blocoImg2 {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.imagem {
    height: 288px;
    width: 100%;
}

.conteudo {
    margin: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerConteudo {
    margin-top: 40px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.containerConteudo2 {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.blocoConteudo {
    box-shadow: 2px 2px 6px black;
    height: 280px;
    width: 520px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.blocoTexto {
    border-radius: 10px;
    animation-name: fade;
    animation-duration: 1s;
    background-image: url(./img/blocoimg.png);
    padding: 0px 30px;
    box-shadow: 2px 2px 6px black;
    height: 280px;
    width: 520px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.blocoPlano {
    animation-name: fade;
    animation-duration: 1s;
    background-image: url(./img/blocoimg.png);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 0px 30px;
    box-shadow: 2px 2px 6px black;
    height: 280px;
    width: 310px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.titulo {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #232363;
}

.tituloBranco {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #f0eaea;
}

.titulo2 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #232363;
}

.texto {
    font-size: 18px;
    text-align: left;
    color: #232363;
}

.texto2 {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    color: #232363;
}

.textoBranco {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

.botaoWpp {
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #232363;
    border: solid 2px transparent;
    border-radius: 6px;
}

.botaoWpp:hover  {
    background-color: #ffffff;
    transition: ease 0.6s;
    border-radius: 8px;
    border: solid 2px #232363;
}

.botaoWpp a:hover {
    color: #232363;
}

.lista {
    justify-content: left;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-bottom: 90px;
}

.conteudoHome {
    animation-name: fade;
    animation-duration: 2.5s;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blocoHome {
    border-radius: 30px;
    margin-top: 20px;
    padding: 0px 30px;
    box-shadow: 2px 2px 6px black;
    height: 180px;
    width: 370px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

@keyframes fade {
    from {
        transform: scale(0.9);
        opacity: 0;
    } to {
        transform: scale(1);
        opacity: 1;
    }
}

.botaoHome {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #232363;
    border: solid 2px transparent;
    border-radius: 20px;
    width: 100px;
    height: 30px;
}

.botaoHome:hover  {
    background-color: #f0eaea;
    transition: ease 0.8s;
    border-radius: 20px;
    color: #232363;
    border: solid 2px #232363;
}

.botaoHome a:hover {
    color: #232363;
}

.textoHome {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #f0eaea;
}

.tituloHome { 
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #f0eaea;
}

/* pre-loader abaixo */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 30, 30);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 80px;
    height: 80px;
}

.loader::after {
    content: "";
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 6px solid #ffffff;
    border-color: #ffffff transparent #ffffff transparent;
    margin: 8px;
    animation: spin 1.2s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} 

/* pre-loader acima */